.aside-main nav{
  padding: 60px 60px 30px 60px;

  & > ul{
    display: flex;
    list-style: none;
  
    & li:first-of-type{
      margin-right: 30px; 
    }
  
    a{
      color: black;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      opacity: 0.7;
      
      &:hover{
        opacity: 1;
      }
    }
  }
}