.chat{
  position: relative;
  flex-basis: 100%;
  background-color: #656565f2;
  overflow-y: scroll;
  padding: 30px;
  scroll-behavior: smooth;

  &-inner > div:not(:last-child){
    margin-bottom: 15px;
  }
}
