.chat-panel{
  flex: 0 0 100px;
  padding: 16px 20px 20px 30px;
  background-color: #333333;
}

.chat-panel-btns{
  display: flex;
  margin-bottom: 16px;
}

.chat-panel-btns__item,
.chat-panel-message__btn{
  flex-basis: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
  opacity: 0.8;

  &:not(.chat-panel-btns__item_text):hover{
    opacity: 1;
  }
}

.chat-panel-btns__item{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &_text{
    font-weight: bold;
    font-size: 19px;
    color: white;
    line-height: 24px;
    text-align: center;
  }

  &_stickers{
    background-image: url('./images/ico-sticker.svg');
  }

  &_pictures{
    background-image: url('./images/ico-picture.svg');
  }

  &_docs{
    background-image: url('./images/ico-attach.svg');
  }

  &:not(:last-child){
    margin-right: 20px;
  }
}

.chat-panel-message{
  display: flex;

  &__area{
    width: 100%;
    height: 24px;
    background: none;
    border: none;
    color: #ffffff;
    resize: none;
  
    &:focus{
      outline: none;
    }
  }

  &__btn{
    margin-left: 20px;
    background: url('./images/ico-send.svg') center / contain no-repeat;
  }
}
