.deposit{
  border: 2px dashed #5c5c5c;
  padding: 20px;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;

  &__name{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #f63;
  }

  &__cashback{
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
  }

  &__period{
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
  }

  &:hover{
    border: 2px dashed #f63;
  }

  &:not(:last-child){
    margin-bottom: 30px;
  }

}