.account{
  display: flex;

  &:not(:last-child){
    margin-bottom: 50px;
  }
}

.account-image{
  flex: 0 0 48px;
  height: 36px;
  margin-right: 20px;
  background: url('./images/pic-account-1.svg') no-repeat center;
  border-radius: 0 15px 0 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15)
}

.account-info{
  &__number{
    font-size: 14px;
    color: #333333;
  }

  &__balance{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__extra{
    font-size: 14px;
    color: #b2b2b2;

    span{
      color: #333333;
    }
  }
}

.account-disclousure-btn{
  width: 35px;
  flex: 0 0 35px;
  height: 35px;
  border-radius: 50%;
  background: url('./images/ico-disclosure.svg') no-repeat center;
  transition: transform 0.15s ease;

  &:hover{
    transform: scale(1.2);
  }
}
