@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

h1,h2,div,p,nav,aside,main,textarea,a,ul{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,p,a,textarea{
  font: 16px/1.25 'Roboto', sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  align-items: stretch;
  overflow: hidden;
}

// main
.main{
  display: flex;
  width: 100%;
  flex-direction: column;
}


// chat
.chat{
  flex-basis: 100%;
  background-color: #656565f2;
}


// aside

.aside{
  position: relative;
  flex-basis: 386px;
  flex-shrink: 0;
  background-color: #f6f6f6;
}

.aside-main{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aside-main-view{
  padding: 0 60px 60px;
  overflow-y: scroll;
  height: 100%;

  &__inner{
    padding-top: 10px;
  }
}
