@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

h1,h2,div,p,nav,aside,main,textarea,a,ul{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,p,a,textarea{
  font: 16px/1.25 'Roboto', sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  align-items: stretch;
  overflow: hidden;
}

// main
.main{
  display: flex;
  width: 100%;
  flex-direction: column;
}


// chat
.chat{
  flex-basis: 100%;
  background-color: #656565f2;
}

// panel
.panel{
  flex: 0 0 100px;
  padding: 16px 20px 20px 30px;
  background-color: #333333;
}

.panel-btns{
  display: flex;
  margin-bottom: 16px;
}

.panel-btns__item,
.panel-message__btn{
  flex-basis: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
  opacity: 0.8;

  &:not(.panel-btns__item_text):hover{
    opacity: 1;
  }
}

.panel-btns__item{
  &_text{
    font-weight: bold;
    font-size: 19px;
    color: white;
    line-height: 24px;
    text-align: center;
  }
  &_stickers{
    background: orange;
  }
  &_pictures{
    background: lightpink
  }
  &_docs{
    background: aqua
  }

  &:not(:last-child){
    margin-right: 20px;
  }
}

.panel-message{
  display: flex;

  &__area{
    width: 100%;
    height: 24px;
    background: none;
    border: none;
    color: #ffffff;
    resize: none;
  
    &:focus{
      outline: none;
    }
  }

  &__btn{
    margin-left: 20px;
    background: palevioletred;
  }
}



// aside

.aside{
  position: relative;
  flex-basis: 386px;
  flex-shrink: 0;
  background-color: #f6f6f6;
}

.aside-main{
  position: relative;
  overflow-y: scroll;
  padding: 60px;
  height: 100%;
}

.aside-main nav{
  margin-bottom: 30px;

  & > ul{
    display: flex;
    list-style: none;
  
    & li:first-of-type{
      margin-right: 30px; 
    }
  
    a{
      color: black;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      opacity: 0.7;
      
      &:hover{
        opacity: 1;
      }
    }
  }
}



// account-view
.account-view{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #f6f6f6;

  &__close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }
  }
}


// account
.account{
  display: flex;
}

.account-disclousure-btn{
  width: 20px;
  height: 20px;
  background: black;
}
