@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1,h2,div,p,nav,aside,main,textarea,a,ul{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,p,a,textarea{
  font: 16px/1.25 'Roboto', sans-serif;
}