.account-view{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 100%;
  background-color: #f6f6f6;

  &-header{
    padding: 60px 60px 30px;
    background: #f9f9f9;
  }

  &-body{
    height: 100%;
    padding: 30px 16px 60px 45px;
    overflow-y: scroll;
    background-color: #f4f4f4;
  }

  &-body__label{
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #b2b2b2;
  }


}