.operation-message{
  padding: 20px;
  width: 250px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;

  &__icon{
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__name{
    margin-bottom: 5px;
  }

  &__value{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__bonus{
    font-size: 14px;
    color: #b2b2b2;
  }
}